.root {
  border-collapse: collapse;
  background-color: transparent;
}

.root th {
  text-align: left;
  font-weight: bold;
}

.root td,
.root th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}
